body{
    padding: 0px;
    margin: 0px;
    background-color: #111111;
}
.menu{
    height: 8.5vw;
    max-height: 1.55cm;
    background-color: #191919;
}
::selection{
    background-color: #242424;
    color: white;
}
.menuimg{
    height: 0.8cm;
    max-height: 2cm;
}
.menuimglink{
    height: 10vw;
    max-height: 0.8cm;
    font-size: 10vw;
    min-width: calc(718px + 0.8cm + 5px);
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.menulogo{
    position: absolute;
    padding-top: 0.35cm;
    left: 50%;
    transform: translate(-55%, 0%);
    height: 10vw;
    max-height: 2cm;
}
.notice{
    position: fixed;
    width: 100vw;
    background-color: #edaa00;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: smaller;
    bottom: 0px;
}
.notice p{
    color:#2e2e2e;
    margin: 0px;
    padding-left: 10vw;
    padding-bottom: 25px;
}
.notice h1{
    margin: 0px;
    padding-left: 10vw;
    padding-top: 10px;
    padding-bottom: 5px;
}
mark {
    background-color: #191919;
    color: #424242;
}
#preloadpg{
    width: 100vw;
    height: 100vh;
    background: #111111;
    position: fixed;
    z-index: 100;
}
.preloadcnt{
    width: max(40vmin, 3.5cm);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: smaller;
    color: #2e2e2e;
    text-align: center;
    line-height: 150%;
}
.preloadlgo{
    width: max(25vmin, 2cm);
    transform: translate(-50%, 0%);
    margin-left: 50%;
    padding-bottom: 10px;
}
.mainContent{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    min-width: calc(900px - 4em);
}
.mainContent h1{
    font-size: 4em;
    color: white;
    margin-bottom: 0px;
}
.mainContent h2{
    padding-left: 0.5em;
    font-size: 1em;
    color: gray;
    margin-top: 1em;
    font-weight: normal;
}
.mainTitleImg{
    display: inline-block;
    width: min(58em, calc(84vw + 4em));
}
.mainTitleImg img{
    border-radius: 20px;
    width: 28vw;
    max-width: 18em;
    margin-top: 1em;
}
.img2{
    margin-left: 1em;
}
.img3{
    margin-left: 1em;
}
@media screen and (max-width: 900px){
    .mainContent{
        font-family: Arial, sans-serif;
        font-weight: bold;
        margin-left: 2em;
        transform: translate(0%, 0%);
        min-width: 0px;
    }
}
@media screen and (max-width: 600px){
    .mainContent h1{
        font-size: 4em;
        color: white;
        margin-bottom: 0px;
        margin-top: 12px;
    }
    .img2{
        margin-left: 0px;
        display: none;
    }
    .img3{
        margin-left: 0px;
        display: none;
    }
    .mainTitleImg img{
        border-radius: 20px;
        width: 87vw;
        max-width: none;
        margin-top: 1em;
    }
    .mainTitleImg{
        display: inline-block;
        width: 87vw;
    }
}
.mainText{
    font-family: Arial, sans-serif;
    margin: none;
    padding-right: 1.8em;
    font-size: 1.2em;
    font-weight: lighter;
    color: lightgray;
    line-height: 1.6em;
}
.headtitle{
    font-family: Arial, sans-serif;
    font-weight: 100;
    margin: 0px;
    font-size: 0.8cm;
    color: aliceblue;
    margin-left: 5px;
    margin-top: -1px;
    font-style: italic;
}