body{
    padding: 0px;
    margin: 0px;
    background-color: #191919;
}
.pageContent{
    margin-left: 2.5cm;
    margin-right: 2.5cm;
}
.menubar{
    width: max(24cm,100%);
    position: absolute;
    height: 2.9cm;
    top: 0px;
    left: 0px;
    background-color: #424242;
    font-family: Arial, sans-serif;
}
.mainBodyContent{
    background-color: whitesmoke;
    width: 24cm;
    height: 29.7cm;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4cm;
    font-family: Arial, sans-serif;
}
.mainBodyContentF{
    background-color: whitesmoke;
    width: 24cm;
    height: 29.7cm;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8cm;
    font-family: Arial, sans-serif;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
.menu{
    height: 17vw;
    max-height: 3.1cm;
    background-color: #191919;
}
::selection{
    background-color: #242424;
    color: white;
}
.menuimg{
    height: 10vw;
    max-height: 2cm;
}
.menuimglink{
    height: 10vw;
    max-height: 2cm;
    font-size: 10vw;
}
.menulogo{
    position: absolute;
    padding-top: min(0.6cm, 3vw);
    left: 50%;
    transform: translate(-55%, 0%);
    height: 10vw;
    max-height: 2cm;
}
.notice{
    position: fixed;
    width: 100vw;
    background-color: #edaa00;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: smaller;
    bottom: 0px;
}
.notice p{
    color:#2e2e2e;
    margin: 0px;
    padding-left: 10vw;
    padding-bottom: 25px;
}
.notice h1{
    margin: 0px;
    padding-left: 10vw;
    padding-top: 10px;
    padding-bottom: 5px;
}
mark {
    background-color: #191919;
    color: #424242;
}
.mainContent{
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-top: max(calc(50vh - 24.2vw), 3.2cm);
    align-items: center;
}
.mainContent h1{
    font-size: 4em;
    color: white;
    margin-bottom: 0px;
}
.mainContent h2{
    font-size: 1.4vw;
    color: #424242;
    margin-top: 1em;
    font-weight: normal;
    line-height: 2.1vw;
    text-align: center;
}
#preloadpg{
    width: 100vw;
    height: 100vh;
    background: #111111;
    position: fixed;
    z-index: 100;
}
.preloadcnt{
    width: max(40vmin, 3.5cm);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: smaller;
    color: #2e2e2e;
    text-align: center;
    line-height: 150%;
}
.preloadlgo{
    width: max(25vmin, 2cm);
    transform: translate(-50%, 0%);
    margin-left: 50%;
    padding-bottom: 10px;
}