body{
    padding: 0px;
    margin: 0px;
    background-color: #191919;
    font-family: Arial, sans-serif;
}
.infoo::-webkit-scrollbar {
    display: none;
}
.EvntDetailsText{
    color: #474747; 
    transition: ease-in 0.3s; 
    opacity: 0.7;
    text-decoration: none;
    z-index: -1;
}
.EvntDetailsText:hover{
    opacity: 1;
    text-decoration: underline;
    z-index: -1;
}
.EvntDetailsText2{
    opacity: 0.7; 
    transition: ease-in 0.3s;
    z-index: -1;
}
.EvntDetailsText2:hover{
    opacity: 1;
    z-index: -1;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.menu{
    height: 8.5vw;
    max-height: 1.55cm;
    background-color: rgb(25, 25, 25, 0.3);
    position: absolute;
    opacity: 1;
    width: 100vw;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(20px);
    border-bottom: 3px solid white;
}
::selection{
    background-color: #242424;
    color: white;
}
.menuimg{
    height: 0.8cm;
    max-height: 1.55cm;
}
.menuimglink{
    height: 0.8cm;
    max-height: 1.55cm;
    font-size: 8.5vw;
}
.vidmob{
    width: 100vw;
    margin-top: calc( -0.35 * (max(0px, calc((0.5625* 100vw) - 32vmax))));
}
.menulogo{
    position: absolute;
    padding-top: 0.35cm;
    left: 4%;
    transform: translate(-55%, 0%);
    height: 10vw;
    max-height: 2cm;
}
.notice{
    position: fixed;
    width: 100vw;
    background-color: #edaa00;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: smaller;
    bottom: 0px;
}
.notice p{
    color:#2e2e2e;
    margin: 0px;
    padding-left: 10vw;
    padding-bottom: 25px;
}
.notice h1{
    margin: 0px;
    padding-left: 10vw;
    padding-top: 10px;
    padding-bottom: 5px;
}
mark {
    background-color: #191919;
    color: #424242;
}
.mainContent{
    font-family: Arial, sans-serif;
    font-weight: bold;
    align-items: center;
}
.mainContent h1{
    font-size: 4em;
    color: white;
    margin-bottom: 0px;
}
.mainContent h2{
    font-size: 1.4vw;
    color: #424242;
    margin-top: 1em;
    font-weight: normal;
    line-height: 2.1vw;
    text-align: center;
}
#preloadpg{
    width: 100vw;
    height: 100vh;
    background: #111111;
    position: fixed;
    z-index: 100;
}
.preloadcnt{
    width: max(40vmin, 3.5cm);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: smaller;
    color: #2e2e2e;
    text-align: center;
    line-height: 150%;
}
.preloadlgo{
    width: max(25vmin, 2cm);
    transform: translate(-50%, 0%);
    margin-left: 50%;
    padding-bottom: 10px;
}